<div class="articleBox">

  <section routerLink="/turmoil-at-openai" class="navPageHeroSection">
    <figure class="hero-image-container">
      <picture class="hero-image-box">
        <source media="(max-width: 500px)" [srcset]="tabletImage">
        <source media="(max-width: 800px)" [srcset]="tabletImage">
        <source media="(min-width: 801px)" [srcset]="largeImage">
        <img class="responsive-image" [src]="defaultImage" alt="landing-page-image">
      </picture>
      <div class="figcaption-container figcap-white">
        <!--     target="_blank" rel="noopener noreferrer" [routerLink]="[]"     -->
        <figcaption>Photo by <a target="_blank" rel="noopener noreferrer"
            href="https://unsplash.com/@rubaitulazad?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Rubaitul
            Azad</a> on <a target="_blank" rel="noopener noreferrer"
            href="https://unsplash.com/photos/a-white-dice-with-a-black-x-on-it-Q2OTDUJJzZ4?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
        </figcaption>



      </div>
      <div class="overlay-text-box">
        <h1>Media Matters vs. Musk: The Clash Over Antisemitic Ads and the
          Impending Legal Showdown</h1>
      </div>

    </figure>
  </section>

  <section class="article-list-section">
    <div>
      <h2 class="article-list-h2">Latest News</h2>
      <ul>
        <li *ngFor="let blog of blogs | slice:0:9">
          <div class="nav-page-list-category">{{ capitalizeFirstLetter(blog.genre) }}</div>
          <a routerLink="/{{blog.routerLink}}"><div class="nav-page-list-title hover-red">{{blog.title +' '+ blog.secondTitle}}</div></a>
          <hr>
        </li>
      </ul>
    </div>
  </section>


</div>
