<!-- app.component.html -->
<nav id="headerNav" (click)="onNavbarClick($event)">
  <div id="hamburgerWrapper">
    <button class="custom-toggler" (click)="toggleNavbar()">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </button>
  </div>
  <div class="navbar" [ngClass]="{ 'show': isNavbarOpen }">
    <ul>
      <a routerLink="/news"></a><li (click)="closeNavbar()">News</li>
      <a routerLink="/entertainment"></a><li (click)="closeNavbar()">Entertainment</li>
      <a routerLink="/food"></a><li (click)="closeNavbar()">Food</li>
      <a routerLink="/life"></a><li (click)="closeNavbar()">Life</li>
      <a routerLink="/tech"></a><li (click)="closeNavbar()">Tech</li>
      <a routerLink="/business"></a><li (click)="closeNavbar()">Business</li>
    </ul>
  </div>
</nav>
