<!-- app.component.html -->
<nav id="headerNav" (click)="onNavbarClick($event)">
  <div id="hamburgerWrapper">
    <button class="custom-toggler" (click)="toggleNavbar()">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </button>
  </div>
  <div class="navbar" [ngClass]="{ 'show': isNavbarOpen }">
    <ul>
      <a routerLink="/news"><li (click)="closeNavbar()">News</li></a>
      <a routerLink="/entertainment"><li (click)="closeNavbar()">Entertainment</li></a>
      <a routerLink="/food"><li (click)="closeNavbar()">Food</li></a>
      <a routerLink="/life"><li (click)="closeNavbar()">Life</li></a>
      <a routerLink="/tech"><li (click)="closeNavbar()">Tech</li></a>
      <a routerLink="/business"><li (click)="closeNavbar()">Business</li></a>
    </ul>
  </div>
</nav>
