  <div class="articleBox">

    <section class="heroSection">
      <h1 class="main-title">NASA Thanksgiving 2023: <span class="second-title">A Cosmic Celebration from Expedition 70
          Crew Members</span></h1>

      <iframe class="article-iframe" width="560" height="315"
        src="https://www.youtube.com/embed/31b1yjUBlO0?si=8iuy1_8QOrJBqibH" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </section>
    <section class="paragraphSecttion">
      <p>
        In a heartwarming and unprecedented gesture, the crew members of Expedition 70, representing international
        collaboration in space exploration, beamed down a special Thanksgiving message from the cosmos. The diverse team
        included Andreas E. Mogensen from the European Space Agency, NASA astronauts Loral A. O’Hara and Jasmin
        Moghbeli,
        and Satoshi Furukawa from the Japan Aerospace Exploration Agency.</p><br>
      <p>

        Against the backdrop of the vastness of space, the Expedition 70 crew took a moment to express their gratitude
        on
        this Thanksgiving Day. Floating weightlessly in the microgravity environment of the International Space Station
        (ISS), the astronauts sent their heartfelt wishes to everyone on Earth.</p><br>
      <h3>
        Andreas E. Mogensen's Perspective:</h3><br>
      <p>
        Andreas E. Mogensen, representing the European Space Agency, shared his thoughts on the unique experience of
        celebrating Thanksgiving in space. He reflected on the significance of unity and collaboration among nations,
        echoing the spirit of international cooperation that defines space exploration endeavors.</p><br>

      <h3>
        NASA Astronauts Loral A. O’Hara and Jasmin Moghbeli:
      </h3><br>
      <p>
        Loral A. O’Hara and Jasmin Moghbeli, both NASA astronauts, added their voices to the cosmic Thanksgiving
        message.
        From their vantage point aboard the ISS, they emphasized the importance of gratitude and camaraderie, not only
        among the diverse crew members but also extending to people around the world.</p><br>

      <h3>
        Satoshi Furukawa's Message:
      </h3><br>
      <p>
        Satoshi Furukawa, representing the Japan Aerospace Exploration Agency, shared insights into the challenges and
        triumphs of life in space. He expressed gratitude for the opportunity to work alongside colleagues from
        different
        nations, fostering goodwill and understanding beyond the bounds of Earth.
      </p><br>

      <h3>A Symbol of Unity:</h3><br>
      <p>
        The Thanksgiving message from Expedition 70 serves as a symbol of unity, transcending borders and bringing
        people
        together, even across the cosmic expanse. The crew members, each hailing from different corners of the globe,
        showcased the power of collaboration in the pursuit of common goals.</p><br>

      <h3>
        Celebrating Diversity in Space:
      </h3><br>
      <p>
        This cosmic celebration not only marked Thanksgiving but also highlighted the diversity of the international
        team
        working aboard the ISS. The Expedition 70 crew, with members from Europe, the United States, and Japan,
        exemplifies the global nature of space exploration and the peaceful cooperation that defines humanity's journey
        beyond our planet.</p><br>
      <p>
        As we celebrate Thanksgiving on Earth, the cosmic message from Expedition 70 reminds us of the shared values
        that
        bind us together as a global community. The unique perspective from space serves as a poignant reminder of the
        beauty of diversity, collaboration, and the endless possibilities that lie beyond our home planet.

      </p>

    </section>

  </div>
