<div class="articleBox">
  <h1 class="main-title">

    Historic Triumph: <span class="second-title">Miss Nicaragua Crowned Miss Universe 2023</span>

  </h1>

  <iframe class="article-iframe" width="560" height="315" src="https://www.youtube.com/embed/Qd_DdwFvNDA?si=kY-dleE5hp2dpm_h"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
  <section class="paragraphSection">
    <p>
      At 4:32 pm, November 19, 2023, a new Miss Universe was crowned, and the honor went to Miss Nicaragua at the José Adolfo Pineda Arena
      in San Salvador, El Salvador. Sheynnis Palacios, the victor, shared a poignant moment with Miss Thailand before
      the announcement, standing together in the dimmed venue with only a spotlight on them.
    </p>
    <br>
    <p>
      The tension broke when a voice declared, "Nicaragua!" Palacios, visibly emotional, reacted to her win with tears
      and trembling hands amid cheers from the crowd. The previous year's titleholder, R'Bonney Gabriel, presented the
      crown to Palacios, marking the first-ever win for Nicaragua and the country's fifth time in the semifinals. Miss
      Australia, Moraya Wilson, secured the third position.
    </p>
    <br>
    <p>

      In a post on X (formerly Twitter), Miss Universe celebrated with images of her wearing the crown, captioning it
      "Hello Universe" in English and expressing gratitude in Spanish for making history.
    </p>
    <br>
    <p>

      Notably, the event saw Miss Universe 2012, Olivia Culpo, alongside TV personalities Jeannie Mai Jenkins and Maria
      Menounos, hosting—an all-female team for the first time. John Legend performed, and Chrissy Teigen shared moments
      from the audience on her Instagram Story.
    </p>
    <br>
    <p>

      In a groundbreaking move, the pageant allowed married women and mothers to compete for the first time and featured
      openly trans women, Marina Machete from Portugal and Rikkie Kollé from the Netherlands.
    </p>
    <br>
    <p>

      The competition involved four rounds: evening gown, swimwear, personal statements, and in-depth interviews.
      Palacios, asked about living in another woman's shoes, chose Mary Wollstonecraft, aiming to open income gaps for
      women.
    </p>
    <br>
    <p>

      Palacios, born in Managua, Nicaragua, made her beauty pageant debut in 2016, winning Miss Teen Nicaragua. She
      holds a degree in mass communications and played varsity volleyball.
    </p>
    <br>
    <p>

      With 84 delegates vying for the crown, Miss USA Noelia Voigt didn't make the top 10. Reflecting on her win
      earlier, Voigt emphasized the role of Miss USA as a symbol of unity and diversity.
    </p>
    <br>
    <p>

      Last year's winner, R'Bonney Gabriel, made history as the first Filipina American Miss Universe in a decade.
      Gabriel advocated for expanding the age limit, and starting in 2024, Miss Universe will accept women over 28.
    </p>
    <br>
    <p>

      Miss Universe changed ownership in October 2022 when JKN Global Group acquired it for $20 million, making CEO Anne
      Jakapong Jakrajutatip the first woman to own the organization in its 72-year history. Jakrajutatip, a transgender
      rights advocate, outlined plans to evolve the brand for the next generation.
    </p>

  </section>

</div>
