<div id="footerWrapper">
  <footer>
    <img src="../../assets/images/spurbank-logo/png/logo-no-background.png" alt="headerLogoImg" routerLink="">
    <nav id="footerNav">
      <ul>
        <li class="hover-red" routerLink="/news">News</li>
        <li class="hover-red" routerLink="/entertainment">Entertainment</li>
        <li class="hover-red" routerLink="/food">Food</li>
        <li class="hover-red" routerLink="/life">Life</li>
        <li class="hover-red" routerLink="/tech">Tech</li>
        <li class="hover-red" routerLink="/business">Business</li>
        <!-- <li routerLink="/">Videos</li> -->
      </ul>
    </nav>
    <div id="footerIconDiv">
        <ul id="footerMediaIconList">
          <li><i class="fa-brands fa-facebook" (click)="openFaceBookPage()"></i></li>
          <li><i class="fa-brands fa-x-twitter" (click)="openTwitterXpage()"></i></li>
          <!-- <li><i class="fa-brands fa-tiktok"></i></li> -->
  
        </ul>
    </div>


  </footer>

</div>
