<div id="footerWrapper">
  <footer>
    <a routerLink="">
      <img src="../../assets/images/spurbank-logo/png/logo-no-background.png" alt="headerLogoImg">
    </a>
    
    <nav id="footerNav">
      <ul>
        <a routerLink="/news"><li class="hover-red" >News</li></a>
        <a routerLink="/entertainment"><li class="hover-red">Entertainment</li></a>
        <a routerLink="/food"><li class="hover-red">Food</li></a>
        <a routerLink="/life"><li class="hover-red">Life</li></a>
        <a routerLink="/tech"><li class="hover-red">Tech</li></a>
        <a routerLink="/business"><li class="hover-red">Business</li></a>
      </ul>
    </nav>
    <div id="footerIconDiv">
        <ul id="footerMediaIconList">
          <li><i class="fa-brands fa-facebook" (click)="openFaceBookPage()"></i></li>
          <li><i class="fa-brands fa-x-twitter" (click)="openTwitterXpage()"></i></li>
  
        </ul>
    </div>


  </footer>

</div>
