<div class="articleBox">

  <section class="heroSection">
    <h1 class="main-title">

      CZ Bids Farewell: <span class="second-title">A New Chapter for Binance Under Richard Teng's Leadership</span>

    </h1>
    <div class="twitter-tweet-box">
      <blockquote class="twitter-tweet">
        <p lang="en" dir="ltr">Today, I stepped down as CEO of Binance. Admittedly, it was not easy to let go
          emotionally.
          But I know it is the right thing to do. I made mistakes, and I must take responsibility. This is best for our
          community, for Binance, and for myself.<br><br>Binance is no longer a baby. It is…</p>&mdash; CZ 🔶 Binance
        (&#64;cz_binance) <a
          href="https://twitter.com/cz_binance/status/1727063503125766367?ref_src=twsrc%5Etfw">November 21,
          2023</a>
      </blockquote>
    </div>
  </section>
  <section class="paragraphSection">
    <p>
      In a surprising turn of events, Changpeng Zhao, commonly known as CZ, announced his resignation as the CEO of
      Binance. In a tweet, CZ expressed the emotional difficulty of stepping down but emphasized that it is the right
      decision for the community, the exchange, and himself. Acknowledging mistakes and taking responsibility, CZ
      believes it's time for Binance, once a fledgling platform, to spread its wings and run independently.
    </p><br>
    <p>

      Taking the helm as the new CEO is Richard Teng, the former Global Head of Regional Markets at Binance. With an
      impressive background boasting over three decades of experience in financial services and regulation, Richard is
      set to guide Binance through its next phase of growth. His leadership will prioritize security, transparency,
      compliance, and overall expansion of the platform.</p><br>
    <p>

      Richard's professional journey includes being the CEO of the Financial Services Regulatory Authority at Abu Dhabi
      Global Market (ADGM), Chief Regulatory Officer of the Singapore Exchange (SGX), and Director of Corporate Finance
      in the Monetary Authority of Singapore. His wealth of knowledge positions him as a capable leader to steer Binance
      through the complex landscape of the crypto industry.</p><br>
    <p>

      Despite stepping down, CZ reassures the community that he will remain connected to Binance as a shareholder and a
      source of historical knowledge. He commits to being available for consultation within the framework established in
      the U.S. agency resolutions.</p><br>
    <p>

      As CZ takes a well-deserved break after six and a half years of non-stop commitment, he outlines his post-Binance
      plans. Exploring the world of passive investing, CZ aims to be a minority token/shareholder in startups focused on
      blockchain, Web3, DeFi, AI, and biotech. Expressing his excitement to delve deeper into DeFi, CZ hints at a
      potential role as a coach or mentor for emerging entrepreneurs.</p><br>
    <p>

      In his farewell note, CZ proudly highlights that the U.S. agencies' resolutions do not allege misappropriation of
      user funds or engagement in market manipulation by Binance. He assures users that their funds are "SAFU," a term
      popularized by Binance, indicating the safety of user funds.</p><br>
    <p>

      As the crypto industry witnesses a significant shift in leadership, all eyes are on Richard Teng as he takes
      charge of Binance's future. The community joins CZ in congratulating Richard on his well-deserved promotion and
      looks forward to the continued success and growth of Binance under his leadership. As CZ bids farewell, he leaves
      behind a legacy and a platform ready to embrace the opportunities and challenges that lie ahead. Onwards to a new
      chapter in the ever-evolving world of cryptocurrency!

    </p>

  </section>

</div>
