#left-sidebar-nav{
    display: none;
}

/* Media query for screens with a width of 600 pixels or more (tablet) */
@media only screen and (min-width: 600px) {
    

}

/* Media query for screens with a width of 1200 pixels or more (desktop) */
@media only screen and (min-width: 1200px) {

    #left-sidebar-nav {
        display: block;
        width: 100%;
    
    }

    
}