<div class=articleBox>
  <h1 class="main-title">Media Matters vs. Musk: <span class="second-title">The Clash Over Antisemitic Ads and the
      Impending Legal Showdown</span></h1>

  <iframe class="article-iframe" width="560" height="315" src="https://www.youtube.com/embed/nACfqFSZ8-A?si=zx9S3BsQUhK0ZBV6"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen>
  </iframe>
  <section class="paragraphSection">
  <p>
    On November 18, Elon Musk threatened legal action against Media Matters and those criticizing his social media
    platform, X, after several major U.S. companies pulled their ads from the site. This move followed the placement of
    ads alongside antisemitic content on X, which has been under scrutiny for such content since Musk acquired it in
    2022.
    Media Matters for America disclosed that ads from IBM, Apple, and others appeared alongside content promoting Adolf
    Hitler and the Nazi Party. Musk endorsed an antisemitic post on X, prompting condemnation, including from the White
    House.
  </p><br>
  <p>
    In an X post, Musk stated, "The moment court opens on Monday, X Corp will file a thermonuclear lawsuit against Media
    Matters and all who colluded in this fraudulent attack on our company." Several companies suspended ads, including
    IBM, Disney, Warner Bros Discovery, Comcast, Lions Gate Entertainment, and Paramount Global. Apple was also
    reportedly
    set to do the same.
  </p><br>
  <p>
    Musk accused Media Matters of distorting the X experience to undermine freedom of speech and mislead advertisers.
    Media Matters labeled Musk a "bully" and claimed he acknowledged the ads running alongside the identified pro-Nazi
    content.
  </p><br>
  <p>
    Musk's post asserted that Media Matters created an alternative account to misinform advertisers about their posts.
    Media Matters responded, stating Musk acknowledged the ads running alongside the pro-Nazi content and expressed
    confidence in winning if sued.
  </p><br>
  <p>
    Musk has a history of threatening legal action against other parties, including the Anti-Defamation League, although
    no lawsuit has been filed against the ADL yet. Advertisers left X since Musk's October 2022 acquisition, resulting
    in
    increased hate speech due to reduced content moderation, according to civil rights groups.
  </p><br>
  <p>
    The White House condemned Musk's endorsement of what it termed a "hideous" antisemitic conspiracy theory, accusing
    Musk of promoting antisemitic and racist hate contrary to American core values.
  </p><br>
  <p>
    Musk, also Tesla's CEO, faces lawsuits alleging widespread racial or sexual harassment of workers. Antisemitic
    incidents have surged in recent years in the United States and worldwide, particularly following the October 7
    outbreak of war between Israel and Palestinian Islamist group Hamas. The Anti-Defamation League reported a nearly
    400%
    increase in antisemitic incidents in the United States from the year-earlier period.
  </p>

</section>

</div>
