<div class="articleBox">
  <h1 class="main-title">BLACKPINK Honored with MBE Medals by King Charles During State Visit</h1>

  <iframe class="article-iframe" width="560" height="315"
    src="https://www.youtube.com/embed/Oemqib-XMNw?si=tC79muyMmN4aDsUL" title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
  <section class="paragraphSection">
    <p>
      London, Nov 22 - King Charles bestowed honorary Member of the Order of the British Empire (MBE) medals upon the
      renowned K-Pop sensation BLACKPINK in the presence of South Korean President Yoon Suk Yeol during his official
      state visit to the United Kingdom, Buckingham Palace announced.</p><br>
    <p>

      The quartet – comprising members Jennie, Jisoo, Lisa, and Rose engaged in conversation, shared laughter, and
      posed for photographs with the British monarch during the medal presentation.</p><br>
    <p>

      King Charles playfully remarked to the band, "It's amazing you're still talking to each other after all these
      years. I hope I shall be able to see you perform live at some point."</p><br>
    <p>

      The MBEs were conferred upon BLACKPINK in acknowledgment of the group's pivotal role as COP26 Advocates for the
      United Nations climate summit held in Glasgow in 2021, as stated by Buckingham Palace.</p><br>
    <p>

      BLACKPINK achieved a historic milestone in July by becoming the first K-pop group to headline a major UK music
      festival. They graced the stage at the BST Hyde Park summer festival in central London, captivating a sold-out
      crowd of 65,000.</p><br>
    <p>

      Since their debut in 2016, BLACKPINK has soared to become one of the most successful girl groups globally, setting
      records such as becoming the most subscribed-to music artists on YouTube.
    </p>

  </section>

</div>
