<header>

  <a routerLink="" class="logoImage"><img class="mousepointer" *ngIf="!showSearchInput || !isMobile && !hideLogo"
    src="../../assets/images/spurbank-logo/png/logo-no-background.png" alt="headerLogoImg">
  </a>

  <nav id="headerHorizontalNav">
    <ul>
      <a routerLink="/news"><li class="hover-red">News</li></a>
      <a routerLink="/entertainment"><li class="hover-red" >Entertainment</li></a>
      <a routerLink="/food"><li class="hover-red" >Food</li></a>
      <a routerLink="/life"><li class="hover-red" >Life</li></a>
      <a routerLink="/tech"><li class="hover-red" >Tech</li></a>
      <a routerLink="/business"><li class="hover-red" >Business</li></a>
      <!-- <li>Videos</li> -->
    </ul>
  </nav>

  <div id="searchBarDiv">

    <div class="mousepointer" id="arrowIconDiv" [ngClass]="{'show': showSearchInput, 'hide': !showSearchInput}"
      (click)="hideSearchInput()">
      <i class="fa-solid fa-arrow-left" id="arrowIcon"></i>
    </div>

    <form id="searchBarForm" [ngClass]="">
      <label for="homeTopSearchInput" [style.width]="showSearchInput ? '100%' : '40px'"
        [style.borderRadius]="showSearchInput ? '0' : '50%'" (click)="toggleSearchInput()">

        <div id="homeTopInputDiv" [ngClass]="{'show': showSearchInput, 'hide': !showSearchInput}"
          (click)="hideSearchInput()">
          <input type="text" placeholder="Search Spurbank" id="homeTopSearchInput" name="homeTopSearchBar">
        </div>
        <div class="mousepointer" id="searchIconBox" [style.flex]="showSearchInput ? '0' : '1'"
          [ngClass]="{'hide': showSearchInput, 'show': !showSearchInput}">
          <i class="fa-solid fa-magnifying-glass" id="searchIcon"></i>
        </div>
      </label>
    </form>
  </div>
  <div>
    <ul id="headerMediaIconList">
      <li><i class="fa-brands fa-facebook" (click)="openFaceBookPage()"></i></li>
      <li><i class="fa-brands fa-x-twitter" (click)="openTwitterXpage()"></i></li>

    </ul>
  </div>
  <app-nav></app-nav>

</header>
